body{
	print-color-adjust: exact;
	webkit-print-color-adjust: exact;
}

#greyFilm{
z-index: -1;
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(255,255,255,0.3);
}

#ticketGenerator *{
	font-family: monospace;
	font-size: 30px;
}

#ticketGenerator > h1{
	font-size: 40px;
	text-align: center;
	color: purple;
	border: solid purple;
	border-radius: 50px;
	background-color: plum;
	width: 600px;
	margin-left: 50%;
	transform: translateX(-50%);
}

#ticketGenerator input, #ticketGenerator textarea{
	display: block;
	margin: 10px;
	background: transparent;
	border: solid 2px black;
	color: black;
	padding: 5px;
	text-align: center;
	width: 100%;
}


#ticketGenerator input::placeholder, #ticketGenerator textarea::placeholder{
	color: black;
}

#inputFields{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#genTicket{
	display: block;
	margin: 10px;
	text-align: center;
	width: 100%;
	padding: 5px;
	border-radius: 50px;
	background-color: purple;
	border: solid 2px purple;
	color: #fff;
	margin-top: 30px;
	cursor: pointer;
}

#printTicket{
	text-align: center;
}

#printTicket > button{
	background-color: plum;
	padding: 5px;
	border: 1px plum;
	font-size: 15px;
	font-weight: bold;
	color: purple;
	cursor: pointer;
}

@media print{
	#printTicket{
		display: none;
	}
}